*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}
#nav h4{
    font-size: 20px;
    font-weight: 500;
}
#nav i{
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50%;
}
#center{
    width: 100%;
    /* background-color: pink; */
    padding: 40px 50px;
}
#center h1{
    font-size: 4.2vw;
    font-weight: 400;
    line-height: 4.5vw;
}
#center-in{
    height: 150px;
    width: 100%;
    /* background-color: pink; */
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 1.5vw;
}
#right{
    width: 20%;
}

.elem{
    padding: 15px;
    /* background-color: skyblue; */
    /* margin: 5px; */
    padding: 10px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i{
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.elem:hover i{
    opacity: 1;
}
#bottom{
    height: 160px;
    width: 100%;
    /* background-color: pink; */
    background-image: url(https://plus.unsplash.com/premium_photo-1727967290081-c50ae33dbc3d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 30%;
}

@media (max-width:600px) {
    #nav{
        height: 60px;
        gap: 20px;
        padding-right:0 20px;
    }  
    #nav h4{
        font-size: 11px;
        font-weight: 500;
        display: none;
    }
    #nav i{
        background-color: black;
        color: whitesmoke;
        font-size: 10px;
        font-weight: 500;
        padding: 6px;
        border-radius: 50%;
    }
    #center{
        width: 100%;
        /* background-color: pink; */
        padding: 15px 20px;
    }
    #center h1{
        font-size: 11vw;
        font-weight: 400;
        line-height: 13vw;
    }
    #center-in{
        height: 150px;
        width: 100%;
        /* background-color: pink; */
        margin-top: 18px;
        display: flex;
        gap: 13px;
        flex-direction: column;
        justify-content: space-between;
    }
    #center-in p{
        font-size: 3.5vw;
        font-weight: 500;
        line-height: 4.5vw;
    }
    #right{
        width: 100%;
    }
    
    .elem{
        padding: 15px;
        /* background-color: skyblue; */
        /* margin: 5px; */
        padding: 6px 0;
        border-top: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .elem i{
        font-size: 12px;
        font-weight: 500;
        opacity: 1;
        color: #303030;
    }
    .elem a{
        color: #303030;
        text-decoration: none;
        font-weight: 500;
        font-size: 10px;
    }
    #bottom{
        height: 30%;
        width: 100%;
        padding: 20px;
        /* background-color: pink; */
        background-image: url(https://plus.unsplash.com/premium_photo-1727967290081-c50ae33dbc3d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: 0 30%;
    }
}





